In [20]:
import pandas as pd

df = pd.read_excel('wines_dataset.xlsx')
#display(df.columns)
#display(df.head())

df_new = pd.read_excel("a_lot_wines_dataset.xlsx")
#display(df_new.columns)

# join food columns in 'FoodParing' column
df_new['FoodParing'] = df_new[['general_pairings','Vegetables', 'Red_meat', 'aperitifs', 'seafood', 'fish', 'pizza', 'pasta','desserts','occasion']].apply(lambda x: ', '.join(x.dropna().astype(str)), axis=1)


df_new.rename(columns={'type':'Taste',"category":"Type",'code': 'ID','title':'Name','seniority':'Year',"country":"Country","volume":"Volume","price":"Price","winery_region":"Region","winery":"Winery","denomination_of_origin":"DO","variety":"GrapeVariety","vineyard_age":"VineyardAge",
                       "awarded_wines":"Award","percentage_of_alcohol":"Alcohol","temperature":"Temperature"}, inplace=True)

df_new['Link'] = df_new['Name'].apply(lambda x: f' https://disndis.com/products/{x.replace(" ","-")}?')
df_new['Allergens'] = df_new['sulphites']

#display(df[['Taste','Type']])
#display(df_new[['category','Type']])
df_new=df_new[df.columns]
df_new['Award']= df_new['Award'].apply(lambda x: True if pd.isnull(x) else False)


for col in df_new.columns:
    print(f'{col} : {df_new[col].isnull().sum()}')
    df_new[col].fillna(df_new[col].mode()[0], inplace=True)
print(df_new.isnull().sum())

df_new.to_excel('clean_wines_dataset.xlsx', index=False)

ID : 0
Name : 0
Type : 0
Year : 46
Country : 0
Region : 19
Winery : 4
Volume : 0
DO : 46
GrapeVariety : 15
VineyardAge : 372
Taste : 17
Alcohol : 0
Temperature : 12
Allergens : 28
FoodParing : 0
Price : 0
Award : 0
Link : 0
ID              0
Name            0
Type            0
Year            0
Country         0
Region          0
Winery          0
Volume          0
DO              0
GrapeVariety    0
VineyardAge     0
Taste           0
Alcohol         0
Temperature     0
Allergens       0
FoodParing      0
Price           0
Award           0
Link            0
dtype: int64

/tmp/ipykernel_67865/586159355.py:28: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_new[col].fillna(df_new[col].mode()[0], inplace=True)

In [13]:
df_new['VineyardAge']

0                      NaN
1                      NaN
2      18 years on average
3            40 - 50 years
4            30 - 40 years
              ...
666                    NaN
667                    NaN
668                    NaN
669                    NaN
670          10 - 30 years
Name: VineyardAge, Length: 671, dtype: object